---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import config from "@/config";
---

<Layout
  title={`Contact | ${config.site.title}`}
  description="Contact information for The Smart Suburbanite."
>
  <Header />
  <Breadcrumb />
  <Main pageTitle="Contact" class="app-prose">
    <p>
      The current contact channel for The Smart Suburbanite is the GitHub
      profile for this project owner:
      <a href="https://github.com/natekeem">https://github.com/natekeem</a>.
    </p>
    <p>
      This site does not currently provide a contact form, comments, newsletter,
      or account system.
    </p>
  </Main>
  <Footer />
</Layout>
